@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "My Profile";
}

<h1>My Profile</h1>
<hr />

<dl class="dl-horizontal">
    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>